<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-4 ">
            <lu>
                <br>
                <li class="li-titular">
                    Catalogue
                </li>  
                <br> 
                <li class="li-titular">

                    <%= link_to "View all", list_index_path %>

                </li>
                    <% @categories.each do |category| %>
                    <li id="<%= dom_id(category) %>">
                    <%= category.name %>
                </li>
                
                <% end %>  
            </lu> 
        </div>

        <div class="col-8 ">
        <%= image_tag("restaurante.jpg", class: "img-fluid") %>
        </div>

    </div>
</div>    
