<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-4 ">
            <lu>
                <br>
                <li class="li-titular text-center">
                    Catalogue
                </li>  
                <br>
                <li class="new-link text-center sub ">
                    <%= link_to "View all", list_index_path %>  
                </li>
                    <br>
                    <% @categories.each do |category| %>
                    <li id="<%= dom_id(category) %>", class="text-center li-thing" >
                    <%= category.name %>
                    
                </li>
                
                <% end %>  
            </lu> 
        </div>

        <div class="col-8 ">
        <%= image_tag("restaurante.jpg", class: "img-fluid") %>
        </div>
    </div>
</div>    
