<h1>Editing category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show", @category, class: "btn btn-outline-dark btn-rectangular btn-sm" %> |
  <%= link_to "Back to categories", categories_path, class: "btn btn-dark btn-rectangular" %>
</div>
