<nav class="navbar navbar-expand-lg navbar-light bg-light container-index">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-4">
    <% if admin_signed_in? %>

      <li class="nav-item">
        <a class="nav-link" <%= link_to "Items", items_path %></a>
      </li>

      <li class="nav-item active ">
        <a class="nav-link" <%= link_to "Categories", categories_path %></a>
      </li>

      <li>
        <a class="nav-link" <%= link_to "List", list_index_path %></a>
      </li>
    </ul>

  </div>
      <ul class="form-inline my-2 my-lg-0">
        <li class="nav-link me-4">
          <a class="btn btn-outline-dark btn-rectangular btn-sm" <%= link_to "Log out", destroy_admin_session_path, 'data-turbo-method': :delete %></a>
        </li>
      </ul>
</nav>
  <% else %>

    
  <% end %>


   