<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-4">

      <li class="nav-item active ">
        <a class="nav-link" <%= link_to "Categories", categories_path %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" <%= link_to "Items", items_path %></a>
      </li>

      <li>
        <a class="nav-link" <%= link_to "List", list_index_path %></a>
      </li>
    </ul>

  </div>
      <ul class="form-inline my-2 my-lg-0">
        <li class="nav-link me-4">
          <button class="btn btn-outline-dark btn-rectangular btn-sm  ">Log out</button>
        </li> 
      </ul>
</nav>


   