<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-4">
    
    </ul>
  </div>
      <ul class="form-inline my-2 my-lg-0">
        <li class="nav-link me-4">
          <button class="btn btn-outline-dark btn-rectangular btn-sm  ">Sign in</button>
        </li> 
      </ul>
</nav>
